<div class="row">
  <div class="col-sm-12" class="message-form-contaner">

		  <form class="message-form" role="form">
			    <div class="name-group">
			      <label for="name">Name:</label>
			      <input type="text" class="form-control" id="name" name="name" placeholder="Enter name">
			    </div>
			    <div class="email-group">
			      <label for="email">Email:</label>
			      <input type="email" class="form-control" id="email" name="mail" placeholder="Enter email">
			    </div>

			    <div class="message-group">
  					<label for="messagetxt">Message:</label>
    				<textarea id="messagetxt" class="form-control"  name="mailText" placeholder="Type Here"></textarea>
			    </div>
			    <button type="submit" class="btn btn-default" ng-click="GetInTouchBtnClick()">Submit</button>
			  </form>

	</div>
</div>